<section class="contact-section">
  <div class="contact-container">
    <h1 class="main-title">"OYSANA EDUCATION" БІЛІМ БЕРУ ОРТАЛЫҒЫ</h1>

    <div class="contact-block">
      <h2 class="block-title">Менеджерлер:</h2>
      <div class="contact-links">
        <a target="_blank" href="https://wa.me/77010282424" class="whatsapp-link">
          <i class="whatsapp-icon"></i>
          +7 701 028 24 24
        </a>
<!--        <a target="_blank" href="https://wa.me/77010282424" class="whatsapp-link">-->
<!--          <i class="whatsapp-icon"></i>-->
<!--          +7 701 028 24 24-->
<!--        </a>-->
      </div>
    </div>

    <div class="contact-block">
      <h2 class="block-title">Email:</h2>
      <a href="mailto:oysanaedu@gmail.com" class="email-link">
        oysanaedu&#64;gmail.com
      </a>
    </div>

    <div class="contact-block">
      <h2 class="block-title">Мекен-жайы:</h2>
      <p class="address">
        Қазақстан
      </p>
    </div>
  </div>
</section>
