<footer>
  <div class="clickable">
    <a href="tel:+87018917175" class="link">+7 (701) 891-71-75</a>
  </div>
    <div class="clickable">
    <div class="social-links">
      <img src="assets/instagram-icon.png" alt="Instagram" class="icon">
      <a href="https://www.instagram.com/oysana_edu/" target="_blank" rel="noopener noreferrer" class="link">
        oysana_edu
      </a>
    </div>
    <div class="footer-contacts">
      <img src="assets/mail-icon.png" alt="Mail" class="icon" id="mail-icon">
      <a href="mailto:oysanaedu@gmail.com" class="link">
        oysanaedu&#64;gmail.com
      </a>
    </div>
  </div>
</footer>
